!!!

%html
  %head
    %title= MoteMap
    %script{:lang => "javascript", :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:lang => "javascript", :type => "text/javascript", :src => "/js/index.js"}
  %body
    %div#content
