!!!

%html
  %head
    %title= MoteMap
    %script{:lang => "javascript", :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:lang => "javascript", :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"}
    %script{:lang => "javascript", :type => "text/javascript", :src => "/js/data.js"}
    %script{:lang => "javascript", :type => "text/javascript", :src => "/js/index.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %body
    #control-panel
      Update every
      %input#update-interval{:type => "text", :value => "10", :size => "4"}
      seconds
      %hr
      %input#show-outdated{:type => "checkbox", :checked => "true"}
      Show outdated motes
    %img#bgimage{:src => "/background"}
    #modal
