.node
  border: 2px solid black
  height: 35px
  width: 50px
  text-align: center
  padding-top: 15px
  border-radius: 10px
  -webkit-border-radius: 30px
  -moz-border-radius: 30px
  clear: none
  float: left
